<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/tabs/home" slot="start" (click)="back()" class="homebutton"><!--expand="block" [routerLink]="['/tabs','/tabs/home','/home']" routerDirection="forward"-->
      <ion-icon expand="full" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Add story</ion-title>
    <ion-button slot="end" routerLink="" class="notification">
      <ion-icon name="notifications"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-progress-bar type="indeterminate" *ngIf="inprogress"></ion-progress-bar>
<ion-content>

  <div class="profile-header">
      <h2>Add Story</h2>
  </div>

  <div class="addpost-content">
    <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin)" >



      <!-- <div *ngIf="noImagePost===false"> -->
        <ion-input name="file" class="upload" *ngIf="isSelected===false" type="file" accept="video/*,image/*" name="myfile" (change)="onChange($event)"></ion-input>
        <p class="upload-content" *ngIf="isSelected===false"> Upload  <ion-icon name="image-outline" class="img-icon"></ion-icon>   or   <ion-icon name="videocam-outline" class="video-icon"></ion-icon> from gallery</p>
      <!-- </div> -->

        <div class="selected-post" *ngIf="isSelected">
        <ion-icon name="close-circle-outline" class="closeIcon" (click)="selectedStatus()" *ngIf="noImagePost===false"></ion-icon>
          <ion-img  class="selecteimage"  [src]="url" *ngIf="format==='image' && url" ></ion-img>
          <video class="selectedvideo" [src]="url" *ngIf="format==='video' && url" controls></video>
        </div>

        <button  type="submit">Share</button>
  </form>
  </div>


</ion-content>
